<div class="dashboard">
    <h1 id="dashboard-heading">Facility Dashboard</h1>
    <div class="container mt-5">
        <!-- Row 1 with 4 columns -->
        <div class="row stats-columns">
            <div class="col-md-3">
                <div class="p-3 text-white text-center" id="item1">Occupied: <span id="occupied-count">0</span></div>
            </div>
            <div class="col-md-3">
                <div class="p-3 text-white text-center" id="item2">Capacity: <span id="total-capacity">0</span></div>
            </div>
            <div class="col-md-3">
                <div class="p-3 text-white text-center" id="item3">Day Count: <span id="day-count">0</span></div>
            </div>
            <div class="col-md-3">
                <div class="p-3 text-white text-center" id="item4">Address: <span id="facility-address"></span></div>
            </div>
        </div>

        <!-- Row 2 with 2 columns -->
        <div class="row mt-4 plot-columns">
            <div class="col-md-6">
                <div class="p-3 text-white text-center" id="item5">Occupancy Rate: <span id="occupancy-rate">0</span>%</div>
            </div>
            <div class="col-md-6">
                <div class="p-3 text-white text-center" id="item6">Facility Name: <span id="facility-name"></span></div>
            </div>
        </div>
    </div>
</div>